<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.spacy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/astro"
        android:label="@string/app_name"
        android:roundIcon="@drawable/astro"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LearnAr"></activity>
        <activity android:name=".Learn" />
        <activity android:name=".quiz7_arabe" />
        <activity android:name=".quiz7_fr" />
        <activity android:name=".login" />
        <activity android:name=".signin" />
        <activity android:name=".signup" />
        <activity android:name=".level7menu" />
        <activity android:name=".quiz7_ang" />
        <activity android:name=".QUIZCSAr" />
        <activity android:name=".aftercsquizar" />
        <activity android:name=".QUIZCSFr" />
        <activity android:name=".aftercsquizfr" />
        <activity android:name=".aftercsqucsquiz" />
        <activity android:name=".QUIZCSAn" />
        <activity android:name=".CSQUIZAr" />
        <activity android:name=".CSQUIZFr" />
        <activity android:name=".SCQUIZAn" />
        <activity android:name=".CSQ" />
        <activity android:name=".Quiz6An" />
        <activity android:name=".Quiz6Fr" />
        <activity android:name=".Quiz6Ar" />
        <activity android:name=".AQ" />
        <activity android:name=".quizAr" />
        <activity android:name=".quizFr" />
        <activity android:name=".level5menu" />
        <activity android:name=".Quiz5AN" />
        <activity android:name=".Quiz5AR" />
        <activity android:name=".Quiz5FR" />
        <activity android:name=".level3menu" />
        <activity android:name=".Quiz3Fr" />
        <activity android:name=".Quiz3Ar" />
        <activity android:name=".Quiz3AN" />
        <activity android:name=".Famqfr" />
        <activity android:name=".FamqAr" />
        <activity android:name=".FamqAn" />
        <activity android:name=".qjobsfr" />
        <activity android:name=".qjobsar" />
        <activity android:name=".qjobsag" />
        <activity android:name=".JOFA" />
        <activity android:name=".afamqan" />
        <activity android:name=".afamqar" />
        <activity android:name=".afamqfr" />

        <activity android:name=".AFA" />
        <activity
            android:name=".Quiz"
            android:theme="@style/Theme.Design.NoActionBar" />

        <activity
            android:name=".ANQ"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".levels"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>